<footer>
	<div class="footer-wrapper">
		<div class="socialmedia-wrapper lookDownLeft">
			{# Linkedin #}
			<a
				href="https://www.linkedin.com/in/stevenecollins/"
				target="_blank"
				alt="View Steven’s linkedin Profile"
			>
				<svg class="icon icon-linkedin">
					<use xlink:href="#icon-linkedin"></use>
				</svg>
			</a>
			{# Github #}
			<a
				href="https://github.com/stevenecollins"
				target="_blank"
				alt="View Steven’s GitHub Profile"
			>
				<svg class="icon icon-github">
					<use xlink:href="#icon-github"></use>
				</svg>
			</a>
			{# Codepen #}
			<a
				href="https://codepen.io/stevenecollins"
				target="_blank"
				alt="View Steven's CodePen Profile"
			>
				<svg class="icon icon-codepen">
					<use xlink:href="#icon-codepen"></use>
				</svg>
			</a>
			{# Dribble #}
			<a
				href="https://dribbble.com/stevenecollins"
				target="_blank"
				alt="View Steven's Dribbble Profile"
			>
				<svg class="icon icon-dribbble">
					<use xlink:href="#icon-dribbble"></use>
				</svg>
			</a>
		</div>

		<div class="message">
			<p class="heart-wrapper lookDownRight">
				<span class="footer-text">Designed and Developed by me with </span>
				<span class="heartbeat-icon">&hearts;</span>
			</p>
		</div>
	</div>
</footer>
