<header>
	<div class="brand-wrapper">
		<a href="/">
			<div class="brand">
				<img
					src="./assets/smallerAvatar.png"
					class="avatarSmall"
					alt="Steven's Avatar"
				/>
				<h2>
					Steven E Collins<br />
					<span>Product Designer & UI Dev</span>
				</h2>
			</div>
		</a>
	</div>
	<nav class="lookUpRight">
		<a href="work.html" class="work">Work</a>
		<a href="about.html" class="about">About Me</a>
		{# <a href="contact.html" class="contact">Contact</a> #}
		<a href="resume.html" class="resume">ResumÉ</a>
		{% include 'theme-switch.njk' %}
	</nav>
	<button class="hamburger lookUpRight">
		<div class="bar"></div>
	</button>
</header>

<nav class="mobile-nav">
	<a href="/" class="home">Home</a>
	<a href="work.html" class="work">Work</a>
	<a href="about.html" class="about">About Me</a>
	{# <a href="contact.html" class="contact">Contact</a> #}
	<a href="resume.html" class="resume">ResumÉ</a>
</nav>
