<div class="theme-icon">
	<svg class="icon icon-sun">
		<use href="#icon-sun"></use>
	</svg>
	<svg class="icon icon-moon">
		<use href="#icon-moon"></use>
	</svg>
</div>

{#
<div class="theme-icon">
	<svg id="sun-icon" class="icon icon-sun">
		<use href="#icon-sun"></use>
	</svg>
	<svg id="moon-icon" class="icon icon-moon">
		<use href="#icon-moon"></use>
	</svg>
</div>
#}
