---
layout: base.njk
title: Error 404 - Page Not Found
permalink: "404.html"
pageId: 404error
---

<div class="container">
	<div class="error-wrapper">
		<a href="https:www.stevenecollins.com"
			><img
				class="screamAvatar2"
				src="./../assets/scream.svg"
				alt="Steven inpersonating Edvard Munch's, Scream"
			/>
		</a>
		<div class="scream-wrapper">
			<h1>Oh Snap!</h1>
			<h2>You've found my ‘Scream’</h2>

			<a href="https:www.stevenecollins.com"
				><img
					class="screamAvatar"
					src="./../assets/scream.svg"
					alt="Steven inpersonating Edvard Munch's, Scream"
			/></a>
			<strong>Don't get stuck in my artistic turmoil!</strong>
			<div class="fixit-wrapper">
				<p><span>1.</span> Shake off the existential dread.</p>
				<p><span>2.</span> Hit the 'Back' button - it's your lifeline.</p>
				<p><span>3.</span> Try another link, it's a masterpiece in waiting.</p>
				<p>
					<span class="tall">4.</span> If all else fails, click my Scream
					Inspired image to return to the homepage.
				</p>
			</div>
		</div>
	</div>
</div>
