---
layout: base.njk
title: Error 404
permalink: "404.html"
pageId: 404error
---

<div class="container">
	<h1>Contact Me</h1>
	<p>
		Error 404: You've found my homage to "The Scream" - an unplanned digital
		masterpiece of vanishing web pages. Don't get stuck in this artistic
		turmoil! Fix-it steps: 1. Shake off the existential dread. 2. Hit the 'Back'
		button - it's your lifeline. 3. Try another link, it's a masterpiece in
		waiting. 4. If all else fails, click my Scream Inspired avatar to return to
		the homepage.
	</p>
</div>
