---
layout: base.njk
title: About Steven E Collins
permalink: "about.html"
pageId: about
---

<div class="about-wrapper">
	<div class="title-wrapper">
		<div class="pageTitle">
			<h1>A Few Things</h1>
			<h1 class="highlight">About Me</h1>
		</div>
		<div class="portrait-wrapper">
			<img
				class="portrait"
				src="./../assets/about-me-small.png"
				alt="That's Me in North Carolina"
				title="Small image of Steven E Collins in North Carolina"
			/>
		</div>
	</div>

	<div class="about-content-wrapper">
		<div class="content">
			<p>
				I'm a passionate and innovative Designer with over thirteen years of
				experience specializing in web and mobile application design and
				development. My expertise lies in Product Design, UX, UI, HTML5, CSS3,
				Front-End Javascript, and various web technologies, where I've
				consistently delivered high-quality and user-centric solutions.
			</p>
			<p>
				Throughout my career, I've honed my skills in wireframing, journey
				mapping, user testing, branding, digital marketing, and native mobile
				design. I thrive in fast-paced environments, taking projects from
				initial requirements gathering through to user experience design and
				front-end development. In recent years, I've concentrated on Mobile
				Product design for both Apple and Android applications.
			</p>
			<p>
				As the Lead Mobile Product Designer at AccuLynx, I've been instrumental
				in creating and maintaining mobile UI resources and style guides for iOS
				and Android. I've also developed working prototypes for user testing and
				marketing purposes.
			</p>
			<p>
				Previously, I've held significant roles at Salesforce, Live Oak Bank,
				Michelin, Cox Communications, Comply365, and HighMark, where I've
				established design guidelines, executed user testing workshops, created
				interactive prototypes, and UI front-end development for implementation
				into production environments.
			</p>
			<p>
				I'm a lifelong learner, always staying current with industry trends and
				technologies. I'm particularly interested in Apple's Human Interface
				Guidelines (HIG) and the Android UI Mobile Design Guidelines.
			</p>
			<p>
				I'm also learning SwiftUI to enhance my mobile prototype designs. I'm
				always looking for opportunities that allow me to leverage my skills
				where I can contribute to creating exceptional digital experiences for
				users. So, if you're looking for someone who's enthusiastic, dedicated,
				and a bit of a design nerd, I'd love to
				<a href="mailto:iamstevenecollins@gmail.com">chat!</a>
			</p>
			<img
				class="image"
				src="./../assets/about-me-image.png"
				alt="That's Me in North Carolina"
				title="Steven E Collins in North Carolina"
			/>
		</div>
	</div>
</div>
