---
layout: base.njk
title: AccuPay - AccuLynx
permalink: "accupay.html"
pageId: workItem
---

<div class="container hero-image">
	<img src="./../assets/accupay-hero.png" alt="AccuPay Screenshot Image"  />
</div>

<div class="work-item-wrapper">
	<div class="container content">
		<p>
			<span>This is AccuPay</span>, an AccuLynx Mobile Payment application for collecting a
			secure online payment at the job location. The application needed to
			include ACH and Credit Card processing that worked seamlessly with the
			desktop application by automatically updating the job information and
			notifying any required users of the completed transaction.
		</p>
	</div>
	<div class="container content">
		<h3>We Started with Research:</h3>
		<p>
			Who will use the AccuPay app? Why? What tasks needed to be completed? What
			features do the users want?
		</p>
	</div>
	<div class="container content">
		<h3>What did we find out?</h3>
  </div>
		<div class="quote-wrapper">

      <blockquote class="quote-card yellow-card">
        <p>
          It takes too much time to go back and make calls and send reminders to
			collect payment.
        </p>
    
        <cite>
          - Doug, the persona
        </cite>
      </blockquote>
    </div>

  <div class="container content">
    <h3>The Persona</h3>
  </div>
	
  <img class="persona-image"
  src="./../assets/Persona-Doug-Cash.png"
  alt="Doug Cash Persona"
  title="AccuPay Persona"/>

	<div class="container content">
		<p>
			<strong>Who is Doug Cash?</strong><br/>
      Doug is a Retail Roofing Business owner who needs a way
			to collect payment without waiting for the customer to send a check. The
			ideal workflow was collecting payment on completion of the final
			walk-through at the end of the project.
		</p>
	</div>
	<div class="container content bullet-group">
		<h3>Market research came next.</h3>
		<p>
			What are other applications doing to collect payment promptly? What are
			some roadblocks? What's working for them? What's not?
		</p>
   <h4>A couple of things to note:</h4>
    <li class="bullet"><span>&#10112;</span> There are a lot of card service providers with just a few top providers. </li>
    <li><span>&#10113;</span> It has to be simple and intuitive and feel safe.</li>
    <li><span>&#10114;</span> It won't take much frustration before a user quits.
    </li>
	</div>
  <div class="container content">
		<h3>And thus, a new user flow was born.</h3>
	</div>
  <img
  class="lucidshart-image"
  src="./../assets/lucidchart-accupay.png" 
  alt="A userflow created before any designs are created."
  title="AccuPay Userflow"/>
  <div class="container content">
		<h3>From here, we built wireframes for early prototype testing.</h3>
	</div>
  <img
  class="low-fidelity-image"
  src="./../assets/mobilePaymentsWireFrame.png" 
  alt="Low-Fidelity Designs for AccuPay"
  title="AccuPay Low-Fidelity Designs">
  <div class="container content">
		<h3>An Interesting note:</h3>
		<p>
      After testing the user flow with a few of our AccuLynx customers, we needed to make a few tweaks to allow the user to enter the card details manually. The business initially thought the user would not want to manually enter the ACH payments because of the higher processing fees.
		</p>
    <p>The application needed to allow the user to collect payment quickly and email a receipt after processing. The application couldn't be flashy or need any extra steps. I looked at other designs for inspiration and sorted out what worked to fit the desired outcome.</p>
	</div>
  <div class="container content design-paragraph">
		<h3>The Design.</h3>
    <p>
      After a few iterations we came to the completed design below.
		</p>
	</div>
  <img
  class="final-design-image"
  src="./../assets/accuypay-final-design.png" 
  alt="AccuPay's final designs"
  title="AccuPay Designs">
  <div class="container content">
		<h3>What's Next?</h3>
		<p>
      The application has been in the wild for a little over a year. We added a nice adoption rate, adding another revenue stream for AccuLynx. Moving forward, we will use our heap reports and customer comments to see if any future user experience updates are needed.
		</p>
	</div>
  <div class="container content">
		<h3>If you're interested in seeing a clickable prototype</h3>
		<p>
      Here is a link to my ProtoPie.
		</p>
	</div>
  <div class="container project-details-wrapper">
    <div class="project Details">
      <h2>Project Details</h2>
      <p>Mobile AccuPay - A mobile application for collecting partial or full payments.</p>
    </div>
  </div>
  <div class="project-details-content">
    <div class="content-group">
      <h4>Full Project Timeline</h4>
      <p>September 2021 - March 2022</p>
    </div>
    <div class="content-group">
      <h4>My Role</h4>
      <p>Research, User Flows, Wireframes, Demos to Business Stackholders, User Experience, UI Design</p>
    </div>
    <div class="content-group">
      <h4>Target Users</h4>
      <p>Small Business Owners, 
        Sales Person, etc.</p>
    </div>
    <div class="content-group">
      <h4>Team Size (5 Total)</h4>
      <p>
        <ul>
          <li>Product Manager</li>
          <li>iOS Developer</li>
          <li>Android Developer</li>
          <li>Product Designer (ME)</li>
          <li>Quality Assurance</li>
        </ul>
      </p>
    </div>
    <h4>Applications Used</h4>
    <p>
      <ul>
        <li>Lucid Chart</li>
        <li>Sketch</li>
        <li>Google Docs</li>
        <li>ProtoPie</li>
      </ul>
    </p>
    </div>
  </div>

