---
layout: base.njk
title: Contacts Redesign - AccuLynx
permalink: "contacts.html"
pageId: workItem
---

<div class="container hero-image">
	<img src="./../assets/accupay-hero.png" alt="AccuPay Screenshot Image" />
</div>

<div class="work-item-wrapper">
	<div class="container content">
		<p>
			<span>The Contacts within the AccuLynx Field App</span>, the CMS section
			within the web application allows our customers to manage all of the data
			and communications with their future, past and current customers,
			Adjusters, Vendors, and Suppliers.
		</p>
	</div>
	<div class="container content">
		<h3>Why was the redesign needed?</h3>
		<li class="bullet">
			<span>&#10112;</span> Customer support was dealing with an uptick of calls
			and emails about the mobile application.
		</li>
		<li>
			<span>&#10113;</span> The current mobile design needed to take advantage
			of a mobile device experience.
		</li>
		<li>
			<span>&#10114;</span> Users were finding things more challenging than
			expected with the original designs.
		</li>
	</div>

	<div class="container content">
		<h3>RESEARCH - Learn About the Affected Users</h3>
		<p>
			We needed to learn about our affected users and learn about their
			frustrations. So we interviewed a group of users and created personas and
			journey maps that we use during the redesign process.
		</p>
		<p>(Show Personas)</p>
		<p>(Show Journey Maps)</p>
	</div>

	<div class="container content">
		<h3>What We Learned?</h3>
		<ul>
			<li>
				The information was displayed in a way that poorly conveyed the
				product's use, making many users unsure of how the mobile product
				worked.
			</li>
			<li>
				The visuals could have been more consistent, making the design cluttered
				and challenging to navigate.
			</li>
			<li>
				When researching, we discovered two main requirements within the
				contacts area—viewing past interactions and adding new notes or calling
				logs when interacting with the contact.
			</li>
			<li>
				We also learned that many actions our users wanted to complete required
				going through many layers within the application.
			</li>
		</ul>
	</div>

	<div class="container content">
		<h3>The Redesign</h3>
		<p>
			Below is a side-by-side comparison of the old and redesigned version of
			the contacts section. Some fundamental changes include improved design
			with consistent visuals and getting all previous necessary actions hidden
			behind menus front and center within a contact overview page.
		</p>
		<p>
			Show Before and After Contact List (Updated Card Design) Contact List
			(Long Press) Contact List (Call Log when the call is complete) Contact
			Overview (Updated Design) Contact Overview (Activity) Contact Overview
			(Call Log)
		</p>
	</div>

	<div class="container content">
		<h3>Now We Test.</h3>
		<p>
			We took the designs we created from our research and created a clickable
			prototype for testing our hypothesis.
		</p>
		<p>(Show Notion Document of Usertests)</p>
	</div>

	<div class="container content">
		<h3>Testing Process</h3>
		<p>
			After creating non-leading questions, we observed and noted how our
			customers interacted with our new designs.
		</p>
		<p>
			Our testing dynamic included an interviewer while the others observed and
			sent follow-up questions to the one interviewing to reduce confusion.
		</p>
	</div>

	<div class="container content">
		<h3>What's Next?</h3>
		<p>
			After our testing outcome and presentation to the company Stakeholders, we
			received the green light to start the developer handoff.
		</p>
	</div>
	<div class="container content last-item">
		<h3>If you're interested in seeing a clickable prototype</h3>
		<p>Here is a link to my ProtoPie.</p>
	</div>
</div>
