---
layout: base.njk
title: Contacts Redesign - AccuLynx
permalink: "contacts-redesign.html"
pageId: workItem
---

<div class="container hero-image">
	<img
		src="./../assets/contacts-workitem-header.png"
		alt="Some Contacts Redesign Screenshot Images"
	/>
</div>

<div class="work-item-wrapper">
	<div class="container content">
		<h1>The Contacts area within the Field App -</h1>
		<p>
			The web application's CRM (Customer Relationship Manager) feature allows
			customers to manage all the data and communications with their former,
			current, and future customers, adjusters, vendors, and suppliers.
		</p>
	</div>
	<div class="container content">
		<h3>Why was the redesign needed?</h3>
		<li class="bullet">
			<span>&#10112;</span> Customer support received numerous calls and emails
			about the ineffectiveness of the contacts feature in the mobile
			application.
		</li>
		<li class="bullet">
			<span>&#10113;</span> The current contacts mobile feature was built to
			replicate the web experience and needed new designs that were optimized
			for the mobile experience.
		</li>
		<li class="bullet">
			<span>&#10114;</span> Many users were unaware of all the features
			available to them in contacts because they were hidden several layers
			deep.
		</li>
	</div>

	<div class="container content">
		<h3>RESEARCH - Learn About the Affected Users</h3>
		<p>
			We needed to learn about our affected user's frustrations. So we
			interviewed a group of users and created personas and journey maps that
			were used during the redesign process.
		</p>
	</div>
	<img
		class="final-design-image img-max-840"
		src="./../assets/contact-redesign-journey-maps.png"
		alt="AccuLynx Contacts Journey Map"
		title="AccuLynx Contacts Journey Map"
	/>

	<div class="container content">
		<h3>What We Learned?</h3>
		<ul>
			<li>
				<span>&#187;</span>
				Users were unaware of some of the features within contacts. The users
				were using the contacts differently than intended in the original
				designs because of how the information was displayed.
			</li>
			<li>
				<span>&#187;</span>
				The UI lacked consistency which led to a cluttered design that was
				difficult to navigate.
			</li>
			<li>
				<span>&#187;</span>
				When researching, we discovered two main requirements within the
				contacts area—viewing past interactions and adding new notes or calling
				logs when interacting with the contact.
			</li>
			<li>
				<span>&#187;</span>
				We also learned that many actions our users wanted to complete required
				going through many layers within the application.
			</li>
			<li>
				<span>&#187;</span>
				We also learned that many of the useful actions within contacts required
				navigating several layers deep within the feature.
			</li>
		</ul>
	</div>

	<div class="container content">
		<h3>The Redesign</h3>
		<p>
			Below is a side-by-side comparison of the old contacts design and the
			newly redesigned version of the feature. A few of the fundamental changes
			that were made included a redesigned UI that relocated many of the useful
			actions that were hidden several layers deep within menus.
		</p>
	</div>
	<img
		class="image-rounded-corners img-max-840"
		src="./../assets/contacts-before-and-after.png"
		alt="AccuLynx Contacts List View"
		title="AccuLynx Contacts List View"
	/>
	<img
		class="image-rounded-corners img-max-840"
		src="./../assets/contacts-overview-before-and-after.png"
		alt="AccuLynx Contacts Overview"
		title="AccuLynx Contacts Overview"
	/>
	<div class="container content">
		<h3>Now We Test.</h3>
		<p>
			We took the designs we created from our research and created a clickable
			prototype for testing our hypotheses.
		</p>
	</div>

	<img
		class="image-rounded-corners img-max-840"
		src="./../assets/notions-list.png"
		alt="Notion Document of our Tested Users"
		title="Notion Document of our Tested Users"
	/>

	<div class="container content">
		<h3>Testing Process</h3>
		<p>
			After creating a list of questions to ask our users, we observed and noted
			how our customers interacted with our new designs.
		</p>
		<p>
			Our test included one interviewer and a few observers that sent questions
			to the interviewer to reduce confusion.
		</p>
	</div>

	<div class="container content">
		<h3>What's Next?</h3>
		<p>
			After our testing outcome and presentation to the company Stakeholders, we
			received the green light to start the developer handoff.
		</p>
	</div>
	<div class="container content">
		<h3>File Prep for Developers</h3>

		<h2>Miro Document</h2>
		<p>
			The Miro document is our primary file for the team that can answer any
			Developer or QA questions and act as a reference guide to help document
			why certain design decisions were made.
		</p>
	</div>
	<img
		class="image-rounded-corners img-max-840"
		src="./../assets/miro-contacts.png"
		alt="Contacts Redesign Reference Miro Document"
		title="Contacts Redesign Reference Miro Document"
	/>
	<div class="container content">
		<h2>Final Sketch File</h2>
		<p>
			The Sketch file is our final design style guide for the feature during
			development.
		</p>
	</div>
	<img
		class="image-rounded-corners img-max-840"
		src="./../assets/contacts-redesign-sketch-file.png"
		alt="Final Sketch File"
		title="Final Sketch File"
	/>
	<div class="container content">
		<h3>Development is in the works.</h3>
		<p>
			But, once the application has rolled out with the updated designs. We use
			Heap Analytics to monitor how users interact with the updated design.
		</p>
	</div>
	<div class="container content">
		<h3>Role:</h3>
		<p>
			<li>Led the Research & Stakeholder Interviews</li>
			<li>Created Design update and high fidelity prototype</li>
			<li>
				Presented proposed changes to Company Stakeholders and the Vice
				President of Product
			</li>
			<li>Created Handoff Files for Developers</li>
			<li>Assisted the project manager in crafting notions documentation</li>
		</p>
	</div>
	<div class="container content">
		<h3>Applications Used:</h3>
		<p>
			<li>Miro</li>
			<li>Sketch</li>
			<li>ProtoPie</li>
			<li>Notion Docs</li>
			<li>Zoom</li>
			<li>Heap</li>
		</p>
	</div>
</div>
