---
layout: base.njk
title: Welcome to Steven's Portfolio
pageId: home
---

<div class="welcome-wrapper">
	<div id="avatarSprite" class="avatar"></div>
	<div class="welcome-message">
		<p class="intro">Hello, my name is</p>
		<h2 class="myName">Steven E Collins.</h2>
		<p class="message">
			I&#39;m a Lead Mobile Product Designer specializing in designing (and
			occasionally front-end developing) exceptional digital experiences.
			Currently, I&#39;m focused on mobile product design at AccuLynx.
		</p>
		<div class="button-wrapper">
			<a href="resume.html" class="button wink">RESUMÉ</a>
			<a href="work.html" class="button outline lookRight">SEE WORK</a>
		</div>
	</div>
</div>
