---
layout: base.njk
title: Steven E Collins' Resume
permalink: "resume.html"
pageId: resume
---

<div class="container pageTitle">
	<h1>
		Some of my recent projects.<br />
		<span>BIG and small.</span>
	</h1>
</div>
<div class="container">
	<div class="workItemGrp">
		<div class="content">
			<h2>App Title</h2>
			<p>
				Web app design for online currency exchange & money transfer service
				catering to personal and business clients.
			</p>
			<p class="last">Case study coming soon.</p>
		</div>
		<div class="workImage">
			<img src="./../assets/bitmap.png" alt="" />
		</div>
	</div>
</div>
