---
layout: base.njk
title: Steven E Collins' Resume
permalink: "resume.html"
pageId: resume
---

<div class="resume-wrapper">
	<div class="container pageTitle">
		<h1 class="mobile-group">
			Grab my<br />
			<span class="highlight">Resume here!</span>
		</h1>
		<h1 class="desktop-group">
			Get to know me better:<br />
			<span class="highlight">Grab my Resume here!</span>
		</h1>
	</div>
	<div class="container content">
		<p>
			Hello there! To give you a better picture of my journey and skills as a
			product designer, I've compiled a resume just for you.
		</p>
		<p>Simply click the links to access it in either Word or PDF format:</p>
		<div class="button-wrapper">
			<a
				href="./../assets/Collins.Resume.Word.zip"
				class="button outline"
				download
				>Download Word Format</a
			>
			<a href="./../assets/Collins.Resume.pdf" class="button outline" download
				>Download PDF Format</a
			>
		</div>
		<p>
			Inside, you'll find everything you need to know about my educational
			background, work experiences, and the skills I've picked up along the way.
			If there's anything else you're curious about, or you simply want to
			connect, feel free to reach me
			<a href="mailto:iamstevenecollins@gmail.com">here</a>.
		</p>
		<p>
			Thanks for stopping by my website. I'm excited about the possibility of
			our paths crossing in the future!
		</p>
		<p>Talk to you soon,</p>
	</div>
</div>
