---
layout: base.njk
title: My Work
permalink: "work.html"
pageId: work
---

<div class="container pageTitle">
	<h1>
		Some of my recent projects.<br />
		<span>BIG and small.</span>
	</h1>
</div>
<div class="container">
	<div class="workItemGrp">
		<div class="content">
			<h2>AccuPay</h2>
			<h3>January / 2022</h3>
			<div class="workImage">
				<img src="./../assets/placeholder.png" alt="" />
			</div>
			<p>
				A Mobile Application designed for viewing customer balances and
				collecting credit card and ACH payments on site.
			</p>
			<button class="last">Read Case Study</button>
		</div>
	</div>
</div>
