---
layout: base.njk
title: My Work
permalink: "work.html"
pageId: work
---

<div class="work-wrapper">
	<div class="container pageTitle">
		<h1>
			<span class="force-return">Some of my</span> recent projects.<br />
			<span class="blue">BIG and small.</span>
		</h1>
	</div>
	<div class="container">
		<div class="workItemGrp">
			<div class="content">
				<h2>AccuPay</h2>
				<div class="imageItem">
					<img
						src="./../assets/mobile-payments-small.png"
						alt="AccuPay Portfolio Image"
					/>
				</div>
				<p>
					A Mobile Application designed for viewing customer balances and
					collecting credit card and ACH payments on site.
				</p>
				<a href="accupay.html" class="button outline">Read Case Study</a>
			</div>
			<div class="workImage">
				<img src="./../assets/mobile-payments-small.png" alt="" />
			</div>
		</div>
		<div class="workItemGrp switch">
			<div class="content">
				<h2>Title Here</h2>
				<div class="imageItem">
					<img src="./../assets/placeholder.png" alt="" />
				</div>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat
					nulla sed justo malesuada lobortis.
				</p>
				<a href="work.html" class="button outline">Case Study Coming Soon</a>
			</div>
			<div class="workImage">
				<img src="./../assets/placeholder.png" alt="" />
			</div>
		</div>
	</div>
</div>
