@use "abstracts" as *;
@use "base" as *;
@use "components" as *;

.error-wrapper {
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: center;
	margin-top: 60px;
	@include breakpoint("tablet") {
		flex-direction: row;
		gap: 30px;
	}
	@include breakpoint("laptop") {
		gap: 60px;
	}
	h1 {
		font-family: "Montserrat", sans-serif;
		font-size: 56px;
		font-weight: 900;
		color: $white;
		text-align: center;
		margin-bottom: -12px;
		@include breakpoint("tablet") {
			text-align: left;
		}
		@include breakpoint("large-desktop") {
			font-size: 72px;
		}
	}
	h2 {
		font-weight: bold;
		color: $red;
		font-size: 24px;
		text-align: center;
		@include breakpoint("tablet") {
			text-align: left;
			margin-bottom: 20px;
		}
		@include breakpoint("desktop") {
			font-size: 28px;
		}
	}

	// Larger Screens
	.screamAvatar2 {
		display: none;
		@include breakpoint("tablet") {
			display: flex;
			width: 400px;
		}
		@include breakpoint("desktop") {
			width: 480px;
		}
		@include breakpoint("large-desktop") {
			width: 520px;
		}
	}
}

.scream-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	@include breakpoint("tablet") {
		align-items: flex-start;
		width: 360px;
		align-self: center;
	}
	.screamAvatar {
		height: 300px;
		width: 100%;
		max-width: 100%;
		align-self: center;
		margin: 16px 0px 8px;
		@include breakpoint("tablet") {
			display: none;
		}
	}
	strong {
		font-size: 24px;
		font-weight: 600;
		text-align: center;
		margin-bottom: 30px;
		max-width: 300px;
		line-height: 32px;
		@include breakpoint("tablet") {
			text-align: left;
		}
		@include breakpoint("desktop") {
			font-size: 24px;
		}
	}
	.fixit-wrapper {
		width: 100%;
		background-color: $black-10;
		border-radius: 8px;
		padding: 16px;
		text-align: left;
		@include breakpoint("tablet") {
			width: 342px;
		}
		p {
			margin-bottom: 16px;
			color: $white;
			display: flex;
			align-items: baseline;
			@include breakpoint("tablet") {
				align-items: baseline;
			}
			@include breakpoint("desktop") {
				font-size: 18px;
			}
		}
		span {
			font-size: 21px;
			font-weight: 900;
			color: $blue;
			margin-right: 5px;
			@include breakpoint("desktop") {
				font-size: 24px;
			}
		}
	}
}
