@use "abstracts" as *;
@use "base" as *;

// NAVIGATION //
// Mobile Styles
.hamburger {
	position: relative;
	display: block;
	width: 35px;
	cursor: pointer;
	appearance: none;
	background: none;
	outline: none;
	border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background-color: $white;
	margin: 7px 0px;
	transition: 0.4s;
	border-radius: 5px;
}

.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-6px, 6px);
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-8px, -8px);
}

.hamburger.is-active .bar {
	opacity: 0;
}

button.hamburger {
	transition: 0.6s;
	background-color: $black;
	padding: 17px 20px;
	width: 74px;
	height: 74px;
	position: fixed;
	top: 0px;
	right: 0px;
	border-bottom-left-radius: 8px;
	@include breakpoint("desktop") {
		display: none;
	}
}
button.hamburger.is-active {
	transition: 0.4s ease-in-out;
	background-color: $black;
	border-bottom-left-radius: 0px;
	padding: 20px 10px;
}

.mobile-nav {
	z-index: 98;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: $black;
	opacity: 0; // Start as invisible
	transform: translateY(100%); // Start off screen to the bottom
	transition: transform 0.4s, opacity 0.4s; // Animate transform and opacity
	font-family: $content;
	padding-top: 102px;
	@include breakpoint("desktop") {
		display: none;
	}
	@include breakpoint("tablet") {
		padding-top: 112px;
	}
}
.mobile-nav.show {
	opacity: 1; // Fully visible
	transform: translateY(0); // Move to original position
}

.mobile-nav.is-active {
	left: 0;
}
// Mobile Menu Links
.mobile-nav a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 220px;
	font-size: 32px;
	height: 54px;
	text-decoration: none;
	color: $white;
	border-radius: 10px;
	font-weight: 600;
	text-transform: uppercase;
	background-color: $black;
	@include breakpoint("mobile-plus") {
		background-color: $black-accent;
		font-size: 32px;
		height: 74px;
	}
	@include breakpoint("tablet") {
		font-size: 42px;
		height: 84px;
		margin-bottom: 8px;
		max-width: 260px;
	}
	@include breakpoint("tablet") {
		font-size: 42px;
		height: 84px;
		margin-bottom: 16px;
		max-width: 300px;
	}
}

.mobile-nav a:hover {
	background-color: $green;
}

nav {
	display: none;
	grid-gap: 24px;
	grid-template-columns: repeat(5, auto);
	font-family: "Work Sans", sans-serif;
	font-weight: 500;
	line-height: 24px;
	align-items: center;
	@include breakpoint("desktop") {
		display: grid;
		grid-gap: 24px;
		grid-template-columns: repeat(5, auto);
	}
	a {
		color: inherit;
		font-size: 18px;
		text-decoration: none;
		padding: 8px 16px;
		text-transform: uppercase;
		transition: 0.25s;
	}
	a:hover {
		color: $white;
		background-color: $green;
		border-radius: 4px;
	}
}

// ICONS //
.icon {
	display: inline-block;
	width: 48px;
	height: 48px;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}
.icon-linkedin,
.icon-github,
.icon-codepen,
.icon-dribbble {
	color: $white;
	width: 32px;
	height: 32px;
	transition: transform 0.2s ease-out;
	&:hover,
	&:focus {
		transform: scale(1.35);
	}
}

.icon-heart {
	width: 18px;
	height: 18px;
	color: transparent;
}

.icon-sun,
.icon-moon {
	width: 40px;
	height: 40px;
}

// BUTTONS //
.button {
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
	background-color: $green;
	padding: 8px;
	border: solid 2px $green;
	border-radius: 5px;
	transition: transform 0.3s ease-out, background-color 0.3s ease-out,
		border 0.2s ease-out;
	transform-origin: center;
	color: $white;
	&:hover,
	&:focus {
		transform: scale(1.1);
		background-color: $green;
		border: solid 2px $green;
	}
}

.button.outline {
	border: solid 2px $green;
	color: $green;
	background-color: $black-accent;
	transition: transform 0.3s ease-out, background-color 0.3s ease-out,
		border 0.2s ease-out;
	&:hover,
	&:focus {
		transform: scale(1.1);
		border: solid 2px $green;
		background-color: $green;
		color: $white;
	}
}

// Quote Cards
$default: #fff;
$defaultTextColor: #222222;
$defaultSecondaryTextColor: #eee;
$border-radius: 4px;

$yellow: #f9a825;
$yellowTextColor: $black;
$yellowSecondaryTextColor: #fbc02d;

.quote-card {
	background: $default;
	color: $defaultTextColor;
	border-radius: $border-radius;

	padding: 20px;
	padding-left: 50px;
	box-sizing: border-box;
	box-shadow: 0 2px 4px rgba($black, 0.12);

	position: relative;
	overflow: hidden;
	min-height: 120px;

	p {
		font-size: 22px;
		line-height: 1.5;
		margin: 0;
		max-width: 80%;
	}

	cite {
		font-size: 16px;
		margin-top: 10px;
		display: block;
		font-weight: 400;
		opacity: 0.8;
	}

	&:before {
		content: "“";
		font-family: Georgia, serif;
		position: absolute;
		top: -5px;
		left: 10px;
		font-size: 5em;
		font-weight: normal;
	}

	&:after {
		font-family: Georgia, serif;
		content: "”";
		position: absolute;
		bottom: -110px;
		line-height: 100px;
		right: -22px;
		font-size: 20em;
		font-weight: normal;
		@media (min-width: 600px) {
			font-size: 25em;
			right: -28px;
			bottom: -115px;
		}
	}
	&.yellow-card {
		background: $yellow;
		color: $yellowTextColor;
		box-shadow: 0 1px 2px rgba($black, 0.12), 0 2px 4px rgba($black, 0.24);

		&:before,
		&:after {
			color: $yellowSecondaryTextColor;
		}
	}
}
