@use "abstracts" as *;
@use "base" as *;
@use "components" as *;

// Main Portfolio Page
.pageTitle {
	h1 {
		font-family: "Montserrat", sans-serif;
		font-size: 36px;
		font-weight: 900;
		color: $white;
		span {
			color: $blue-dark;
		}
	}
	margin-bottom: 60px;
}

.workItemGrp {
	padding: 20px;
	h2 {
		font-family: "Montserrat", sans-serif;
		font-size: 24px;
		font-weight: 900;
		color: $white;
	}
	h3 {
		font-family: "Work Sans", sans-serif;
		font-size: 18px;
		font-weight: 200;
	}
	p {
		font-family: "Work Sans", sans-serif;
		font-size: 16px;
		line-height: 24px;
	}
	.workImage {
		width: 100%;
		margin: 16px 0px;
	}
	button.last {
		background-color: transparent;
		color: $white;
		border: solid 1px $white;
		height: 50px;
		border-radius: 5px;
		width: 100%;
		font-size: 18px;
		text-transform: uppercase;
		font-weight: 600;
		margin-top: 24px;
		margin-bottom: 60px;
	}
}

#work {
}
