@use "reset" as *;
@use "abstracts" as *;
@use "base" as *;
@use "components" as *;
@use "home" as *;
@use "work" as *;
@use "resume" as *;
@use "404error" as *;

// Dark Mode - Light Mode Toggle
.theme-icon {
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: 0.5s;
	margin-right: 24px;
}
.theme-icon:hover {
	transform: rotate(-90deg);
}

:root:not(.light) .theme-icon .icon-sun {
	display: inline-block;
	color: $yellow;
	&:hover {
		color: $yellow-lite;
	}
}

:root:not(.light) .theme-icon .icon-moon {
	display: none;
}

:root.light .theme-icon .icon-sun {
	display: none;
}

:root.light .theme-icon .icon-moon {
	display: inline-block;
	color: $black-accent;
	&:hover {
		color: $black-accent;
	}
}

:root:not(.light) {
}
:root.light {
	body {
		background-color: $bgGray;
		color: $black-accent;
	}
	.page {
		@include breakpoint("tablet") {
			border: 24px solid $green-border;
		}
	}
	header {
		background-color: $bgGray;
		@include breakpoint("tablet") {
			border-top: solid 24px $green-border;
			border-left: solid 24px $green-border;
			border-right: solid 24px $green-border;
		}
		&.is-scrolling {
			border-top: solid 0px $green-border;
			background-color: $bgGray;
			box-shadow: $black 0px 0px 20px 0px;
		}
		.brand-wrapper a {
			color: $black-accent;
		}
	}
	header.header-mobile {
		border-top: solid 0px $green-border;
		background-color: $green-border;
	}
	.button {
		&:hover,
		&:focus {
			-webkit-box-shadow: 1px 1px 10px 0px rgba(68, 77, 50, 0.25);
			-moz-box-shadow: 1px 1px 10px 0px rgba(68, 77, 50, 0.25);
			box-shadow: 1px 1px 10px 0px rgba(68, 77, 50, 0.25);
		}
	}
	.button.outline {
		background-color: $bgGray;
		&:hover,
		&:focus {
			background-color: $green;
			-webkit-box-shadow: 1px 1px 5px 0px rgba(68, 77, 50, 0.25);
			-moz-box-shadow: 1px 1px 5px 0px rgba(68, 77, 50, 0.25);
			box-shadow: 1px 1px 5px 0px rgba(68, 77, 50, 0.25);
		}
	}
	.hamburger {
		background-color: $green-border;
		.bar,
		&:after,
		&:before {
			background-color: $black-accent;
		}
	}
	.icon-linkedin,
	.icon-github,
	.icon-codepen,
	.icon-dribbble {
		color: $black-accent;
	}

	.resume-wrapper,
	.work-wrapper {
		h1,
		h2 {
			color: $black;
		}
		.button {
			background-color: $green;
			color: $white;
		}
	}
}
